@model IEnumerable<CoffeeShop.Models.Article>


@foreach (var item in Model) {
   
    <div class="news-item item news-slider-link">
            <img class="news-slider-img" src="@Html.DisplayFor(modelItem => item.img)" alt="@Html.DisplayFor(modelItem => item.name)">
            <p class="news-slider-header">@Html.DisplayFor(modelItem => item.name)</p>
            <p class="news-slider-text">@Html.DisplayFor(modelItem => item.description)</p>
            @Html.ActionLink("Read more", "DisplayItem", new { id = item.ID })
       
    </div>

}


