@{
    ViewBag.Title = "Admin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<ul>
    <li>@Html.ActionLink("Статьи", "Index", "Articles")</li>
    <li>@Html.ActionLink("Кофе", "Index", "Products")</li>
    <li>@Html.ActionLink("Отзывы", "Index", "Reviews")</li>
    <li>@Html.ActionLink("Слайдер", "Index", "Sliders")</li>
    <li>@Html.ActionLink("Товары", "Index", "Products")</li>
</ul>
